html, body {
	height: 100%;
}

.frame {
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}

.headline {
	color: brown;
	font-style: italic;
	font-weight: bold;
	font-size: 1.3em;
}

ul {
	list-style-type: square;
	list-style-position: outside;
}